    /* < !-- you must delete this styling later for all the files --><style>header h2 {
        color: red;
    }

    header p {
        color: green;
    }

    section div div {
        margin-left: 20px;
    }

    section {
        border: 1px solid black;
    }

    article {
        border: rgb(255, 0, 221) 1px dashed;
    }

    </style>< !-- you must delete this styling later for all the files -->


    put this in the index file */